/* MAIN HOME STYLES */

.home_one {
  color: var(--color-white);
  width: 100vw;
  height: 100vh;
}

.home_two {
  height: 100%;
}

.home_three {
  display: grid;
  grid-template-columns: 20% 80%;
  color: var(--color-white);
  position: relative;
}

.home_four {
  flex: 4;
}

.home_five {
  padding-top: 4rem;
}

/* Loader */
.centerLoader {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav_bar_Zindex {
  z-index: 99;
}

.spinnerSecond {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #b2b2b2 94%, #0000) top/9px 9px
      no-repeat,
    conic-gradient(#0000 30%, #b2b2b2);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 9px), #000 0);
  animation: spinner-c7wet2 1s infinite linear;
}

@keyframes spinner-c7wet2 {
  100% {
    transform: rotate(1turn);
  }
}

.home_seven {
  margin-top: 1.2rem;
}

.home_nine {
  width: 40rem !important;
  height: 17rem !important;
  margin-top: 1rem;
  border-radius: 8px;
  position: relative;
}

.container_gradient {
  background: linear-gradient(247deg, #00000000 0%, #291e1e 100%);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}

.home_nine img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.container_gradient_h3 {
  margin-left: 4.2rem;
  font-size: 3rem;
}

.title_morethan_9 {
  font-size: 2.6rem;
  margin-left: 4.2rem;
}

.name_morethan_9 {
  font-size: 2.2rem;
  margin-left: 4.2rem;
}

.name_morethan_9_two {
  font-size: 2.2rem;
  margin-left: 4.2rem;
}

.container_gradient p {
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  margin-left: 4.2rem;
}

.home_container_btn {
  all: unset;
  margin-left: 4.2rem;
  margin-top: 1rem;
  padding: 10px 20px;
  background: var(--color-red);
  color: var(--color-white);
  border-radius: 3px;
}

.home_ten {
  margin-top: 2.5rem;
}

.home_twelve {
  width: 22rem;
  margin-top: 1.3rem;
}

.home_thirteen {
  width: 22rem !important;
  height: 15rem !important;
  margin-top: 1rem;
  border-radius: 8px;
  position: relative;
}

.home_thirteen img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

/* SIDEBAR CSS */
.sidebar_one {
  height: 100vh;
  background: var(--color-black-light);
  width: 100%;
  transition: all 500ms;
  position: sticky;
  top: 0;
}

.sidebar_logo {
  display: flex;
  align-items: center;
  position: relative;
}

.sidebar_hide_half {
  position: absolute;
  right: 0;
  width: 20px;
  height: 20px;
}

.sidebar_hide_half svg {
  align-items: center;
  justify-content: center;
  margin-left: 1.2rem;
  font-size: 1.2rem;
}

.sidebar_two {
  width: 100%;
  transition: all 500ms;
}

.sidebar_three {
  margin-top: 1.2rem;
}

.sidebar_three h3 {
  font-size: 1.35rem;
  cursor: pointer;
}

.sidebar_three ul {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 0.5rem;
  gap: 1.3rem;
}

.sidebar_four {
  margin-top: 1.5rem;
}

.active_style {
  color: var(--color-grey);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.1rem;
}

.active_style svg {
  font-size: 1.2rem;
}

.active_style:hover {
  color: var(--color-white);
  font-weight: 600;
}

.active {
  color: var(--color-white);
  font-weight: 600;
  position: relative;
  display: flex;
}

.active::after {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  background: var(--color-red);
  border-radius: 50%;
  right: 20px;
}

/* NAVBAR CSS */
.navbar_one {
  width: 80%;
  transition: all 500ms;
  position: fixed;
  z-index: 10;
}

.navbar_three {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar_form {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 25rem;
  height: 2.2rem;
  background: #b2b2b2;
  padding-left: 1rem;
  border-radius: 10px;
}

.navbar_form button,
.navbar_form input {
  all: unset;
}

.navbar_form button {
  margin-top: 3px;
  color: var(--color-black);
}

.navbar_form input {
  width: 100%;
  height: 100%;
  caret-color: var(--color-black);
  color: var(--color-black);
}

.navbar_four {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navbar_five {
  all: unset;
  font-size: 1.3rem;
  cursor: pointer;
}

.navbar_menu {
  display: none;
}

.navbar_bell {
  position: relative;
}

.bell_notification {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--color-red);
  top: 0;
  right: 0;
}

.navbar_profile {
  width: 35px;
  height: 35px;
  background: var(--color-grey);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 2px solid var(--color-grey);
}

.navbar_profile img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.navbar_new_style {
  width: 80%;
  -webkit-box-shadow: 4px 2.5px 10px 3px #777777;
  -moz-box-shadow: 4px 2.5px 10px 3px #777777;
  box-shadow: 4px 2.5px 10px 3px #777777;
  position: fixed;
  z-index: 99;
  background: var(--color-black-light);
  transition: all 500ms;
}

/* MEDIA QUERY FOR TABS */
@media (max-width: 900px) and (min-width: 600px) {
  /* LOGO STYLYING */
  .sidebar_logo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .sidebar_three h3 {
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
  }

  .navbar_one {
    width: 85%;
  }

  .navbar_new_style {
    width: 85%;
  }

  .login_five h2 {
    display: none;
  }

  .login_five svg {
    font-size: 1.5rem;
  }

  .active_style {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .active_style p {
    display: none;
  }

  .home_three {
    grid-template-columns: 15% 85%;
  }

  .active::after {
    display: none !important;
  }

  .active_style svg {
    text-align: center;
  }

  .sidebar_ul {
    width: 100%;
  }

  .sidebar_ul li {
    width: 100%;
  }

  .sidebar_three ul {
    gap: 2rem;
  }

  .home_nine {
    width: 30rem !important;
    height: 16rem !important;
  }

  .container_gradient_h3 {
    font-size: 2.5rem;
  }

  .title_morethan_9 {
    font-size: 2.3rem;
  }

  .name_morethan_9 {
    font-size: 2.3rem;
  }

  .container_gradient p {
    font-size: 1rem;
  }

  .home_container_btn {
    padding: 8px 17px;
  }
}

/* MEDIA QUERY FOR MOBILE */
@media (max-width: 600px) {
  .sidebar_one {
    transform: translateX(-300px);
    width: 14rem;
    background: var(--color-black-light);
    height: 100vh;
    z-index: 99;
  }

  .sidebar_open {
    transform: translateX(0);
    width: 14rem;
    background: var(--color-black-light);
    height: 100vh;
    transition: all 500ms;
    position: sticky;
    top: 0;
    z-index: 99;
  }

  .home_three {
    grid-template-columns: 0% 100%;
  }

  .home_four {
    width: 100%;
  }

  /* NAVBAR */
  .navbar_one {
    border-bottom: none;
    width: 100%;
  }

  .navbar_form {
    width: 16rem;
    height: 2rem;
  }

  .navbar_menu {
    display: initial;
  }

  .navbar_four {
    gap: 0.4rem;
  }

  .navbar_profile {
    width: 30px;
    height: 30px;
    border: 1px solid var(--color-grey);
  }

  .navbar_new_style {
    width: 100%;
    z-index: 10;
  }

  .home_nine {
    width: 17rem !important;
    height: 9.5rem !important;
  }

  .container_gradient_h3 {
    font-size: 1.7rem;
    margin-left: 1.8rem;
    width: 100%;
  }

  .name_morethan_9_two {
    font-size: 1.7rem;
    margin-left: 1.8rem;
  }

  .title_morethan_9 {
    font-size: 1.5rem;
    margin-left: 1.8rem;
  }

  .name_morethan_9 {
    font-size: 1rem;
  }

  .container_gradient p {
    font-size: 0.8rem;
    margin-left: 1.8rem;
  }

  .home_container_btn {
    padding: 6px 9px;
    margin-left: 1.8rem;
    margin-top: 0.5rem;
  }

  .home_thirteen {
    width: 15rem !important;
    height: 10rem !important;
  }
}
