@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;0,900;1,200;1,300;1,600&display=swap");

* {
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  outline: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Nunito Sans", sans-serif;
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
  background: var(--color-black);

  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

.padding {
  padding: 1.5rem;
}

:root {
  --color-black: #252525;
  --color-white: #fff;
  --color-red: #ff0303;
  --color-grey: #e8e2e2;
  --color-red-light: #fa9494;
  --color-grey-dark: #b2b2b2;
  --color-green: #06ff00;
  --color-black-light: #3b3b3b;
  --color-red-dark: #660101;

  --swiper-theme-color: #252525;
}

.btn-one {
  all: unset;
  padding: 10px 15px;
}

@media (max-width: 767px) {
  .padding {
    padding: 0.8rem;
  }
}
